extends layout

block content
    section.section
        div.container
        div.panel.panel-primary
            div.panel-heading
                | MEM Usage
            div.panel-body(id="graph")
