.container
    .footer
        hr(style='margin: 30px 0 10px 0;')
        p &copy;&nbsp;
            a(href='#') Author
            |  2014

    script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='http://code.highcharts.com/highcharts.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/assets/js/events.js')
    script(type='text/javascript', src='/assets/js/chart.js')

block footer
