.container
    .footer
        hr(style='margin: 30px 0 10px 0;')
        p &copy;&nbsp;
            a(href='#') Author
            |  2014

    script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.0.min.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
    script(src="http://code.highcharts.com/highcharts.js")
    script(type='text/javascript').
        $(document).ready(function() {
            $(".form-control").focus(function () {
                $(this).closest(".textbox-wrap").addClass("focused");
            }).blur(function () {
                $(this).closest(".textbox-wrap").removeClass("focused");
            });
        });

block footer-login