doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        link(rel='shortcut icon' href='/assets/ico/favicon.ico')

        title="Metrica Dashboard"

        link(rel='stylesheet', type='text/css' href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css' href='/assets/css/metrica.css')
        link(rel='stylesheet', type='text/css' href='http://roboto-webfont.googlecode.com/svn/trunk/roboto.all.css')

    body.metrica-form
        block content

        include footer-login